<%- include('header'); -%>
<div class="box deep-bg">
  <h1 id="heading"><%= title %></h1>
</div>
<div class="box light-bg">
  <% listItems.forEach(elem => { %>
  <form action="/delete" method="post">
    <div class="component light-bg">
      <input
        type="checkbox"
        name="checked"
        value="<%= elem._id %>"
        onchange="this.form.submit()"
      />
      <p class="light-bg"><%= elem.name %></p>
    </div>
    <input type="hidden" name="list" value="<%= title %>" />
  </form>
  <% }) %>

  <div class="newComponent light-bg">
    <form action="/" method="post">
      <input
        class="light-bg"
        type="text"
        name="newItem"
        placeholder="New Item"
      />
      <button type="submit" class="plus" name="list" value="<%= title %>">
        +
      </button>
    </form>
  </div>
</div>
<%- include('footer'); -%>
